@model Web.Models.Home.NoteViewModel

@{
	string @title = "Add note";
	ViewBag.Title = @title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@title</h2>

@using (Html.BeginForm("Add", "Home", FormMethod.Post))
{
	@Html.Partial("_AddOrEdit", Model)
}
