@model Web.Models.Home.NoteViewModel

@{
	string @title = "Edit note";
	ViewBag.Title = @title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@title</h2>

@using (Html.BeginForm("Edit", "Home", new { id = Model.Id }))
{
	@Html.Partial("_AddOrEdit", Model)
}
