@model IEnumerable<Web.Models.Home.NoteViewModel>

@{
	string @title = "Notes";
    ViewBag.Title = @title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@title</h2>
@foreach (var note in Model)
{
	<div class="note col-lg-1">
		<div>
			<a href="@Url.Action("Delete", "Home", new {id = note.Id})">
				<i class="glyphicon glyphicon-remove note-options"></i>
			</a>
		</div>
		<div>
			@note.Text
		</div>
	</div>
}