@model IEnumerable<Web.Models.Home.NoteViewModel>

@{
	string @title = "Notes";
    ViewBag.Title = @title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@title</h2>

@foreach (var note in Model)
{
	<div>@note.Text</div>
}

